<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- <suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="tests" thread-count="2"> -->
<suite name="Suite" verbose="10" configfailurepolicy="skip" >

    <parameter name="platform" value="${platform}" />

    <listeners>
        <listener class-name="runner.NGTestListener" />
    </listeners>

    <!-- <test name="FF">
        <parameter name="platform" value="${platform}" />
        <parameter name="browser" value="Firefox" />
        <parameter name="version" value="64.0" />
        <classes>
            <class name="runner.TestRunner3" />
        </classes>
    </test> -->

    <test name="Chrome">
        <!-- <parameter name="platform" value="${platform}" /> -->
        <parameter name="browser" value="Chrome" />
        <parameter name="version" value="116" />
        <classes>
            <class name="runner.TestNGCucumberRunner1" />
            <!-- <class name="runner.TestNGCucumberRunner2" /> -->
            <!-- <class name="runner.AbstractTestNGCucumberTestsRunner" /> -->
        </classes>
    </test>

</suite>